body {
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
     

}

  .greeting {
    display: flex;
    align-items: center;
    margin-left: 15%;
    font-size: 6rem;
  }
  
  .hello {
    
    color: #6489ff;
    margin-right: 10px;
  }
  
  .name {
    
    color: #e57373;
  }
  
  .question {
    
    color: #edebeb;
    margin-top: 0px;
    margin-left: 15%;
    font-size: 4rem;
    
  }